@{
    ViewBag.Title = "Home Page";
}
@section Intro {
    <div class="intro">
        <div class="conteiner">
            <div class="intro_inner">
                <h1 class="intro_title">Bhagas<span class="last_word">kara</span>.</h1>
                <h2 class="intro_subtitle">Fusce rutrum pretium lorem semper nulla.</h2>
                <p class="intro_text">Vestibulum ornare cursus nisl, fermentum tincidunt libero pretium et. Maecenas interdum ligula non fermentum fringilla.</p>
            </div>
            <div class="intro_nav">
                <ul class="shapes">
                    <li class="shape">
                        <a class="nav_img" href="@Url.Action( "About", "Home")"><img src="/Content/imeges/about.png" alt="img" /></a>
                        <p class="info">About</p>
                    </li>
                    <li class="shape">
                        <a class="nav_img" href="@Url.Action( "Team", "Home")"><img src="/Content/imeges/team.png" alt="img" /></a>
                        <p class="info">Team</p>
                    </li>
                    <li class="shape">
                        <a class="nav_img" href="@Url.Action( "Services", "Home")"><img src="/Content/imeges/services.png" alt="img" /></a>
                        <p class="info">Services</p>
                    </li>
                    <li class="shape">
                        <a class="nav_img" href="@Url.Action( "Portfolio", "Home")"><img src="/Content/imeges/portfolio.png" alt="img" /></a>
                        <p class="info">Portfolio</p>
                    </li>
                    <li class="shape">
                        <a class="nav_img" href="@Url.Action( "Contact", "Home")"><img src="/Content/imeges/contact.png" alt="img" /></a>
                        <p class="info">Contact</p>
                    </li>
                </ul>
            </div>
            <div class="scroll">
                <a class="nav_img" href="#nav"><img src="/Content/imeges/scoll.png" alt="img" /></a>
            </div>
        </div>
    </div>}


<div class="section_work">
    <div class="conteiner">
        <div class="collections_work">
            <div class="collections_outer_work">
                <div class="heart">
                    <div class="collections_text_work">
                        <h2>Build with love</h2>
                        <p>Fusce facilisis velit libero, nec dignissim lacus sagittis non. Sed nec porta ante. Pellentesque habitant morbi tristique senectus et.</p>
                    </div>
                </div>
            </div>
            <div class="collections_outer_work">
                <div class="modern">
                    <div class="collections_text_work">
                        <h2>Clean and modern</h2>
                        <p>Fusce facilisis velit libero, nec dignissim lacus sagittis non. Sed nec porta ante. Pellentesque habitant morbi tristique senectus et.</p>
                    </div>
                </div>
            </div>
            <div class="collections_outer_work">
                <div class="easy">
                    <div class="collections_text_work">
                        <h2>Easy to use</h2>
                        <p>Fusce facilisis velit libero, nec dignissim lacus sagittis non. Sed nec porta ante. Pellentesque habitant morbi tristique senectus et.</p>
                    </div>
                </div>
            </div>
            <div class="collections_outer_work">
                <div class="mobile">
                    <div class="collections_text_work">
                        <h2>Fully Responsive</h2>
                        <p>Fusce facilisis velit libero, nec dignissim lacus sagittis non. Sed nec porta ante. Pellentesque habitant morbi tristique senectus et.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>